
/* https://github.com/mrmrs/fluidity */

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);



pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  background-color: #fafafa;
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1.125em;
}
